{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "printWidth": 80,
    "proseWrap": "preserve",
    "requirePragma": false,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false
}
