:root {
  --grey-dark: rgb(40, 40, 40);
  --grey-mid: rgb(160, 160, 160);
  --grey-light: rgb(220, 220, 220);
  --spacing: 8px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: var(--spacing);
  background-color: var(--grey-light);
  border-bottom: 1px solid var(--grey-mid);
}

.panelsContainer {
  width: 100%;
  height: calc(100vh - 53px);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.aside {
  width: 100%;
  background-color: var(--grey-light);
  padding: var(--spacing);
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.sections {
  width: 100%;
  min-height: 100%;
  background-color: var(--grey-mid);
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}

.section {
  background-color: var(--grey-light);
  display: grid;
  place-items: center;
  flex: 1;
}

.section:not(:last-of-type) {
  margin-bottom: var(--spacing);
}
